<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="about.css">
    <title>my Blog</title>
</head>
<body>
    <%- include("header.ejs") %>
    <div class="about-body">
    <div class="about-container">
        <h2>About</h2>
    </div>
        <div class="about-content">
            <h4>Hi! we are lifestyle bloggers </h4>
            <p>Being a lifestyle blogger is not without its challenges. It requires consistency, creativity, and a lot of hard work. From curating content and managing social media to engaging with followers and staying updated with trends, the role is multifaceted and demanding. Despite these challenges, the rewards are plentiful. The opportunity to connect with like-minded individuals, the joy of creating content that resonates, and the potential to turn a passion into a profession make the journey worthwhile.</p>
            <p>In essence, lifestyle bloggers play a significant role in the digital age, offering inspiration, advice, and a sense of community. They capture the essence of modern living, showcasing that life is a beautiful blend of various experiences. Whether through a carefully styled outfit, a heartfelt travel story, or a simple life hack, lifestyle bloggers remind us to cherish the little things and to always strive for a life well-lived.</p>
        </div>
    </div>

    
    <%- include("footer.ejs") %>
</body>
</html>