<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="blog.css">
    <title>Document</title>
</head>
<body>
    <%- include("header.ejs") %>

    <div class="blog-container">
        <h3>Blog About</h3>
        <form action="/submit" method="post">
            <label for="category">Choose </label>
            <select name="category" id="category"  class="choose" required>
                <option disabled selected>category:</option>
                <option value="Finance">Finance</option>
                <option value="Sport">Sport</option>
                <option value="Politics">Politics</option>
                <option value="Others">Others</option>
            </select>
            <br>
            <input type="text" placeholder="Title" required>
            <textarea name="text" id="content" placeholder="Write your blog post here..." required></textarea>
            <br><br>
            <button type="submit">Send</button>
        </form>
    </div>

    <%- include("footer.ejs") %>
</body>
</html>
