<main>
    <link rel="stylesheet" href="body.css">
    <div class="title">
        <h3>Sharing your ideas and </h3>
        <h1> stay updating</h1>
    </div>

       
        <form action="/blog" method="GET">
            <div class="container">
                <button class="btncategory" name="category" type="submit">
                        <p>Write a blog</p>
                </button>  
            </div>
        </form>
        
        
</main>