<main>
    <link rel="stylesheet" href="body.css">
    <div class="title">
        <h3>Sharing your ideas and </h3>
        <h1> stay updating</h1>
       </div>
       <div class="container">
    
        <form action="/blog" method="GET">
            <div class="card">
                <div class="imgcategory"> 
                        <p>Write a blog about<br> <strong>Finance</strong></p> 
                    </button>
                </div>
        
                <div class="imgcategory">
                    <button class="btncategory" name="category" value="Sport" type="submit">
                        <p>Write a blog about <br><strong>Sport</strong></p>
                    </button>
                </div>
        
                <div class="imgcategory"> 
                    <button class="btncategory" name="category" value="Politique" type="submit">
                        <p>Write a blog about <br><strong>Politique</strong></p> 
                    </button>
                </div>   
            </div>
        </form>
        
</main>