<footer>
    <link rel="stylesheet" href="footer.css">
    <div class="footer">
        <form action="newsletter">
        <h4>JOIN OUR MAILING LIST</h4>
        <input type="email" placeholder="Enter your email here" required> <br>
        <button>Subscribe</button>
        </form>
        <p>© <%= new Date().getFullYear() %> with love</p>
    </div>
</footer>
</body>
</html>

