<link rel="stylesheet" href="header.css">
<div class="navbar">
    <img src="https://img.icons8.com/?size=100&id=3h_Jsj3qWZHc&format=png&color=000000" class="imgcategory" alt="logo" >
    <div class="links">
            <a href="/">Home</a>
            <a href="#">Finance</a>
            <a href="#">Sport</a>
            <a href="#">Politique</a>
            <a href="about">About</a>
    </div>
    
    <div class="login"></div>
</div> 
</div>

