<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="auth.css">
    <title>Register</title>
</head>
<body>
    <!-- Registration form with username, email, and password fields -->
    <div class="container">
        <div class="card">
            <form id="signForm">
                <h2>Register</h2>
                <div id="Error" style="color: red;"></div>
                <input type="text" name="username" id="username" placeholder="Username" required>
                <input type="email" name="email" id="email" placeholder="Email" required>
                <input type="password" name="password" id="password" placeholder="Password" required>
                <br>
                <button type="submit">Sign In</button>
                <p>Already have an account? <a href="./login">Login</a></p>
            </form>
        </div>
    </div>
    <script>
        document.getElementById('signForm').addEventListener('submit', async (e) => {
            e.preventDefault();
            const username = document.getElementById("username").value;
            const email = document.getElementById("email").value;
            const password = document.getElementById("password").value;
            const data = { username, email, password };

            try {
                const response = await fetch('/register', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(data)
                });

                if (response.ok) {
                    console.log('Success:', await response.json());
                    window.location.href = '/'; // Redirect to home page on success
                } else {
                    const error = await response.json();
                    document.getElementById('Error').innerText = error.message;
                }
            } catch (error) {
                console.error('Error:', error);
            }
        });
    </script>
</body>
</html>
