.about-container{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: columns;
    flex-wrap: wrap;
}

.about-container h2{
    margin: 1rem;
    border-bottom: 1px dotted black;
    font-family: "Sevillana", cursive;
    font-size: 3rem;  
}

.about-content{
    height: fit-content;
    width: 60%;
    background-color: aquamarine;
    padding: 2rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    border: 1px lightgrey solid;
    box-shadow: 1px black;
}
.about-content p{
    margin: 1rem;
}

.about-body{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}