.container{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center ;
}

.btncategory{
    width: 18%;
    height: 2.5rem;
    background-color: pink;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
}



