.blog-container{
    height: fit-content;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    
}

.blog-container input, textarea{
    margin-top: 1rem;
    width: 50%;
    height: 2.5rem;
    outline: none;
    padding-left: 2%;
    border-style: none;
    border: 1px solid black;
    
}
.blog-container input:focus,
.blog-container textarea:focus
{
    box-shadow: 1px 1px 1px black;
}

.blog-container textarea{
    min-height: 5rem;
    height: 10rem;
    padding: 1%;
    margin-bottom: 1rem;
}
.blog-container button{
    width: 30%;
    margin: 1rem;
}
